/* Root Variables for Colors */
:root {
  --primary: #1a426d;
  --secondary: #467291;
  --heading-font: "Montserrat";
  --body-font: "Libertinus Sans ";
  --glow: #1a426d;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
 .banner {
        background-image: url(../images/Header_pic_3.webp); /* Sets the image */
        background-size: cover;                        /* Resizes the image to cover the entire div */
        background-repeat: no-repeat;                  /* Prevents the image from repeating */
        background-position: center;                   /* Centers the image within the div */
        height: 200px;                                 /* Sets a height for the div (required if empty) */
    }

header{
    background-color: var(--primary); 
    color: white;
    /*padding: 1rem;*/
    position: relative;
}
header h1 {
    text-align: center;
    margin: 1px;
}

main h1, h2{
    text-align: center;
    font-size: 2rem;
}

nav{
    display: none;
    flex-direction: column;
    
}


nav a {
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    border-top: 1px  var(--secondary); ;
}

nav a:hover {
    background-color: #0059b3
}

nav.open { display: flex;}

#menu {
    background: none;
    border: none;
    font-size: 1.75rem;
    color: white;
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    
}

footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    
}


main {
    max-width: 900px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #bbbabe;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #474647;
}

fieldset { 
    border: none;
    padding: 0;
    margin: 1rem 0;
}

label {
    display: block;
    margin-top: 0.75rem;
}

legend{
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0;
    text-shadow: 1px 1px 2px #e0c3fc;
    color: var(--primary);
    letter-spacing: 1px;
    border-bottom: 2px solid var(--primary);
    display: block;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"],
input[type="text"],
input[type="date"],
textarea, 
select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

input[type="submit"] {
    display: block;
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: var(--primary);
    color: white;
    border-radius: 0.5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;

}

input[type="submit"]:hover {
    background-color: #3d1f5b;
}

.star-rating {
  display: flex;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 10px;
  height: 20px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

.star-rating label:hover {
  color: rgb(73, 11, 159);
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform:scale(1.1);
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content:'\2605';
}

input[type="submit"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover, .submitAnotherReview:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--glow);
    box-shadow: 1px 4px 12px rgba(99, 59, 97, 0.773);
    font-weight: 600;
}

.submitAnotherReview {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    transition: 0.3s ease;
}
.submitAnotherReview a {
    color: white;
    text-decoration: none;
}