@media screen and (min-width: 768px){
    .header-container{
        display: flex;
        align-items: center;
        padding: 0 2rem;
        justify-content: space-between;
        /*background-size: cover;   
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/Header_pic_3.webp);
        height: 200px; */
    }
    .banner {
        background-image: url(../images/Header_pic_3.webp); /* Sets the image */
        background-size: cover;                        /* Resizes the image to cover the entire div */
        background-repeat: no-repeat;                  /* Prevents the image from repeating */
        background-position: center;                   /* Centers the image within the div */
        height: 300px;                                 /* Sets a height for the div (required if empty) */
    }

    .header-container h1{
        margin: 0;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        
    }

    #menu {
        display: none;
    }

    .temples-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
        margin: 0 auto;
    }

    .socialmedia a {
        text-decoration: none;
    }
    .socialmedia img {
  width: 20px;
}

/* CONTACT US SECTION */

.contact-heading {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: var(--heading-font);
}


.contact-us {
  background-color: #aeb3b23f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-info {
  font-size: 15px;
  line-height: 0;
  padding: 14px;
  margin: 0 auto;
  font-weight: bold;
}

.contact-info strong {
  color: var(--accent1-color);
  font-weight: 400;
  font-size: 10px;
  padding: 6px;
}

.contact-info a {
  text-decoration: none;
  font-weight: 400;
  color: var(--accent1-color);
  padding: 6px;
}

.contact-info a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #9e9096;
  font-style: italic;
}

.map {
  border: 0;
  width: 500px;
  height: 300px;
}

/* FORM SECTION */
form {
  display: grid;
  background-color: rgb(239, 235, 235);
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px grey;
}

form h5,
h3 {
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 10px;
  font-family: var(--heading-font);
}

.name-email {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
}

#username,
#useremail {
  height: 20px;
}

.purpose {
  display: grid;
  grid-template-columns: 200px;
  gap: 10px;
  align-items: center;
  padding: 20px;

}

.subscription {
  grid-column: 1/-1;
  padding: 20px;


}

textarea {
  grid-column: 1/-1;
  height: 100px;
  text-align: center;
  padding: 10px;
  width: 450px;
}

.form-button {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--body-font);
  color: white;
  background-color: var(--primary);
  border-radius: 6px;
  border: none;
}

.form-button:hover {
  background-color: var(--accent1-color);
  color: white;

}


}