/* Root Variables for Colors */
:root {
  --primary: #1a426d;
  --secondary: #467291;
  --heading-font: "Montserrat";
  --body-font: "Libertinus Sans ";
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
 .banner {
        background-image: url(../images/Header_pic_3.webp); /* Sets the image */
        background-size: cover;                        /* Resizes the image to cover the entire div */
        background-repeat: no-repeat;                  /* Prevents the image from repeating */
        background-position: center;                   /* Centers the image within the div */
        height: 200px;                                 /* Sets a height for the div (required if empty) */
    }

header{
    background-color: var(--primary); 
    color: white;
    /*padding: 1rem;*/
    position: relative;
}
header h1 {
    text-align: center;
    margin: 1px;
}

main h1, h2{
    text-align: center;
    font-size: 2rem;
}

nav{
    display: none;
    flex-direction: column;
    
}


nav a {
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    border-top: 1px  var(--secondary); 
}

nav a:hover {
    background-color: #0059b3
}

nav #nav-a2{
    color: white;
    background-color:var(--primary); 
    padding: 0.75rem;
    text-decoration: none;
    border-top: 1px  var(--secondary); 
}
nav #nav-a2:hover {
    background-color: #0059b3
}


nav.open { display: flex;}

#menu {
    background: none;
    border: none;
    font-size: 1.75rem;
    color: white;
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    
}

.temples-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background: #d2d2ba;
    text-align: center;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 0.5rem;
}
figure {
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    
}

.socialmedia img {
  width: 20px;
}

  .company-profile {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

  .company-profile h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
    font-size: 1.8rem;
    border-left: 6px solid var(--accent-color);
    padding-left: 12px;
  }

  .company-profile p {
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 35px;
  }
  .circle-img {
    background-image: url(../images/hna_vallejos.webp); /* Sets the image */
    background-size: cover;                        /* Resizes the image to cover the entire div */
    background-repeat: no-repeat;                  /* Prevents the image from repeating */
    background-position: center;                   /* Centers the image within the div */
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
  }