@media screen and (min-width: 768px){
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .header-container h1{
        margin: 0;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        
    }

    #menu {
        display: none;
    }

    .plan-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: 2rem auto;
    }


}